.bbr-image img {
    margin: auto;
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: -webkit-fill-available;
}

.bbr-video video {
    margin: auto;
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: -webkit-fill-available;
}