.MuiAccordion-root {
    box-shadow: none!important;
}

.MuiAccordionDetails-root {
  display: block!important;
}

.MuiAccordionSummary-expandIcon {
  padding: 0!important;
}

.modalAccordion .MuiAccordionSummary-content{
  display: none!important;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0!important;
}

.bbr-modal-image, .bbr-modal-video {
  text-align: center;
}

.bbr-modal-image img {
    margin: auto;
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: 100%;
    max-width: -webkit-fill-available;
    text-align: center;
}