.bbr-content {
  width: fit-content;
}

.bbr-content a {
  text-decoration: none;
}

.bbr-image, .bbr-video {
  text-align: center;
}

.bbr-image img {
    margin: auto;
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: -webkit-fill-available;
    text-align: center;
}

.framed-video {
    margin: auto;
    height: auto;
    width: 100%;
    height: 600px;
}

.bbr-quote-author {
  text-align: right;
}

.MuiDivider-root {
    margin: revert!important;
}

.makeStyles-paper-7 {
  padding: 35px 20px 10px 20px!important;
}

.avatar {
  height: 40px;
  width: 40px;
  padding-top: 5px;
  padding-right: 5px;
}

@media only screen and (max-width: 500px) {
  .creator, .likes {
    padding: 0;
  }
  .avatar {
    height: 20px;
    width: 20px;
  }

}