.MuiAccordion-root {
    box-shadow: none!important;
}

.MuiAccordionDetails-root {
  display: block!important;
}

.MuiAccordionSummary-content {
  display: none!important;
}

.bbr-modal-image, .bbr-modal-video {
  text-align: left;
}

.bbr-modal-image img {
    margin: auto;
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: -webkit-fill-available;
    text-align: center;
}